<%- include('../partials/header', { title: 'Languages | Add' }) %>

    <div class="body-container">
        <div>
            <a href="/">Home Page</a>
            <a href="/languages">Languages List</a>

            <h1>Add a Programming Language</h1>

            <form action="/language-created" method="POST">
                <div class="form-control">
                    <label for="language-name">Language Name:</label>
                    <input type="text" name="name" id="language-name" required />
                </div>

                <div class="form-control">
                    <label for="language-description">Description:</label>
                    <textarea name="description" id="language-description" required></textarea>
                </div>

                <button type="submit">Add New Language</button>
            </form>
        </div>
    </div>

<%- include('../partials/global-footer') %>