<%- include('../partials/header', { title: 'Lecturers | Add' }) %>

    <div class="body-container">
        <div>
            <a href="/">Home Page</a>
            <a href="/lecturers">Lecturers List</a>

            <h1>Add New Lecturer</h1>

            <form action="/lecturer-created" method="POST">
                <div class="form-control">
                    <label for="lecturer-name">First Name:</label>
                    <input type="text" name="name" id="lecturer-name" required />
                </div>

                <div class="form-control">
                    <label for="lecturer-surname">Surname:</label>
                    <input type="text" name="surname" id="lecturer-surname" required />
                </div>

                <div class="form-control">
                    <label for="lecturer-phone">Phone:</label>
                    <input type="tel" name="phone" id="lecturer-phone" required />
                </div>

                <div class="form-control">
                    <label for="lecturer-email">Email:</label>
                    <input type="email" name="email" id="lecturer-email" required />
                </div>

                <div class="form-control">
                    <label for="lecturer-age">Age:</label>
                    <input type="number" name="age" id="lecturer-age" required />
                </div>

                <div class="form-control">
                    <label for="lecturer-subjects">Subjects (comma separated):</label>
                    <input type="text" name="subjects" id="lecturer-subjects" required />
                </div>

                <div class="form-control">
                    <label for="lecturer-experience">Years of Experience:</label>
                    <input type="number" name="yearsOfExperience" id="lecturer-experience" required />
                </div>

                <div class="form-control">
                    <label for="lecturer-favorite-language">Favorite Programming Language:</label>
                    <select name="favoriteLanguage" id="lecturer-favorite-language" required>
                        <% languages.forEach(language => { %>
                            <option value="<%= language.name %>"><%= language.name %></option>
                        <% }) %>
                    </select>
                </div>

                <button type="submit">Create Lecturer</button>
            </form>
        </div>
    </div>

<%- include('../partials/global-footer') %>