<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>School Task</title>
        <link rel="stylesheet" href="style.css">
    </head>
    
    <body>
        <div class="body-container">
            <h1 class="home-page-title">Home Page</h1>

            <ul class="home-page-links">
                <li> <a href="/students">Students List</a> </li>

                <li> <a href="/groups">Groups List</a> </li>

                <li> <a href="/languages">Languages List</a> </li>

                <li> <a href="/lecturers">Lecturers List</a> </li>

                <li> <a href="/subjects">Subjects List</a> </li>
            </ul>
        <div>
    </body>
</html>